.overlay {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 20%, 0.5);

  transition: transform 1s;
}

.hidden {
  display: none;
}

.final {
  transform: translateX(100vw);
}
